<html>
	<head>
		<title>Configure Application</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script>
			var INDEX_ROW_CONFIGURATION = <%=configuration.length;%>;
		</script>
		<style>
			.response_container{
				margin:5px;
				border:2px solid black;
				background:#03a9f4;
				padding: 5px;
			}
			
			.button_template_payload_container, .generic_template_payload_container, .text_payload_container{
				margin:5px;
				border:2px solid black;
				background:#009688;
				padding: 5px;
			}
			
			.item_button_template_payload_container, .item_generic_template_payload_container{
				margin:5px;
				border:2px solid black;
				background:#4caf50;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<% if(error_message != ""){ %>
			<h3><%= error_message %></h3>
		<% } %>
		<form method="post" action="/response_configuration">
			<div>
				<table border='1' style='border-collapse:collapse;padding:5px'>
					<tr>
						<th>Request</th>
						<th>Response</th>
						<th>Remove</th>
					</tr>
					<% 
					if(configuration.length > 0){
					%>
					<% configuration.forEach(function(item, indexConfiguration){ %>
					<tr id="row_<%=indexConfiguration%>">
						<td>
							<%
							var tmpIndexRequest = 0;
							item.requests.forEach(function(request, indexRequest){ 
							%>
								<div id="request_container_<%=indexConfiguration%>_<%=indexRequest%>">
									<input type = "text" name="<%= "item[" + indexConfiguration + "][requests][" + indexRequest + "]" %>" value="<%= request %>"/><button class="remove_request" first_index="<%=indexConfiguration%>" second_index="<%=indexRequest%>"> - </button>
								</div>
							<%
								tmpIndexRequest = indexRequest;
							}); 
							%>
							<div id="request_container_<%=indexConfiguration%>_<%=(tmpIndexRequest+1)%>">
								<input type = "text" name="<%= "item[" + indexConfiguration + "][requests][" + (tmpIndexRequest+1) + "]" %>" />
								<button class="add_new_request" first_index="<%=indexConfiguration%>" second_index="<%=(tmpIndexRequest+1)%>"> + </button>
							</div>
						</td>
						<td>
							<% 
							var tmpIndexResponse = 0;
							item.responses.forEach(function(response, indexResponse){ 
							%>
							<div id="response_container_<%=indexConfiguration%>_<%=indexResponse%>" class="response_container">
								Type:<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][type]" class="response_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>">
										<option value="<%=response.type%>"><%= response.type %></option>
										<option value="text"> Text</option>
										<option value="button_template"> Button Template</option>
										<option value="generic_template"> Generic Template</option>
									</select><br/>
								Payload:
								<div id = "container_payload_<%=indexConfiguration%>_<%=indexResponse%>">
								
									<% if(response.type == "text"){ %>
									
										<div class="text_payload_container">
											Text: <input type = "text" name="<%= "item[" + indexConfiguration + "][responses][" + indexResponse + "][payload]" %>" value="<%= response.payload %>"/>
										</div>
										
									<% }else if(response.type == "button_template"){ %>
									
										<div class="button_template_payload_container">
											Text: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][text]" value="<%= response.payload.text %>"/><br>
											
											<% response.payload.buttons.forEach(function(button, buttonIndex){ %>
											
											<div class="item_button_template_payload_container">
												<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=buttonIndex%>">
													<option value="<%=button.type%>"><%=button.type%></option>
													<option value="web_url"> URL</option>
												</select> </br>
												Button payload : <br>
												<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=buttonIndex%>">
													<% if(button.type == "web_url"){ %>
													URL: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][url]" value="<%=button.url%>"></br>
													Title: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][title]" value="<%=button.title%>"></br>
													<button class="add_new_button" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index=" <%=buttonIndex%>"> + </button>
													<% } %>
												</div>
											</div>
											
											<% }) %>
											
										</div>
										
									<% }else if(response.type == "generic_template"){ %>
									
										<div class="generic_template_payload_container">
											Title: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][title]" value="<%= response.payload.title %>"/><br>
											
											Subtitle: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][subtitle]" value="<%= response.payload.subtitle %>"/><br>
											
											Image URL: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][image_url]" value="<%= response.payload.image_url %>"/><br>
											
											<% response.payload.buttons.forEach(function(button, buttonIndex){ %>
											
											<div class="item_generic_template_payload_container">
												<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=buttonIndex%>">
													<option value="<%=button.type%>"><%=button.type%></option>
													<option value="web_url"> URL</option>
												</select> </br>
												Button payload : <br>
												<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=buttonIndex%>">
													<% if(button.type == "web_url"){ %>
													URL: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][url]" value="<%=button.url%>"></br>
													Title: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][title]" value="<%=button.title%>"></br>
													<button class="add_new_button" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index=" <%=buttonIndex%>"> + </button>
													<% } %>
												</div>
											</div>
											
											<% }) %>
											
										</div>
										
									<% } %>
								</div>
								<button class="remove_response" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>"> - </button>
							</div>
							<% 
								tmpIndexResponse = indexResponse;
							}); 
							%>
							<div id="response_container_<%=indexConfiguration%>_<%=(tmpIndexResponse+1)%>" class="response_container">
								Type:<select name="item[<%=indexConfiguration%>][responses][<%=(tmpIndexResponse+1)%>][type]" class="response_type" first_index="<%=indexConfiguration%>" second_index="<%=(tmpIndexResponse+1)%>">
										<option value="">Select Type response</option>
										<option value="text"> Text</option>
										<option value="button_template"> Button Template</option>
										<option value="generic_template"> Generic Template</option>
									</select><br/>
								Payload:
								<div id = "container_payload_<%=indexConfiguration%>_<%=(tmpIndexResponse+1)%>"></div>
								<button class="add_new_response" first_index="<%=indexConfiguration%>" second_index="<%=(tmpIndexResponse+1)%>"> + </button>
							</div>
						</td>
						<td>
							<button class="button_remove_row" first_index="<%=indexConfiguration%>"> delete </button>
						</td>
					</tr>
					<% }); %>
					<% } %>
					<tr id = "row_navigation">
						<td></td>
						<td>
							<button id = "button_add_row">New</button>
						</td>
					</tr>
				</table>
			</div>
			<input type="submit" value="Save"/>
		</form>
	</body>
	<script>
		$("#button_add_row").on('click', function(e){
			$("#row_navigation").before(addNewRow(INDEX_ROW_CONFIGURATION, 0));
			INDEX_ROW_CONFIGURATION++;
			e.preventDefault();
		});
		
		$(".button_remove_row").on('click', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			
			$("#row_" + firstIndex).remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_request', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			$("#request_container_"+ firstIndex +"_"+secondIndex).after(addNewRequest(firstIndex, secondIndex+1));
			
			$(this).html('-');
			$(this).attr('class', 'remove_request');
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_request', function(e){
			$(this).parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_response', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			$("#response_container_"+ firstIndex +"_"+secondIndex).after(addNewResponse(firstIndex, secondIndex+1));
			
			$(this).html('-');
			$(this).attr('class', 'remove_response');
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_response', function(e){
			$(this).parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_button', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			var buttonIndex = parseInt($(this).attr('button_index'));
			
			$(this).html('-');
			$(this).attr('class', 'remove_button');
			$(this).parent().parent().after(addNewButton(firstIndex, secondIndex, buttonIndex+1));
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_button', function(e){
			$(this).parent().parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('change', '.response_type', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			if($(this).val() == 'text'){
				$("#container_payload_"+ firstIndex +"_"+ secondIndex).html(textTypePayload(firstIndex, secondIndex));
			}else if($(this).val() == 'button_template'){
				$("#container_payload_"+ firstIndex +"_"+ secondIndex).html(buttonTemplateTypePayload(firstIndex, secondIndex, 0));
			}else if($(this).val() == 'generic_template'){
				$("#container_payload_"+ firstIndex +"_"+ secondIndex).html(genericTemplateTypePayload(firstIndex, secondIndex, 0));
			}
			e.preventDefault();
		});
		
		$(document).on('change', '.button_type', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			var buttonIndex = parseInt($(this).attr('button_index'));
			
			if($(this).val() == 'web_url'){
				$("#container_button_payload_"+ firstIndex +"_"+ secondIndex +"_"+ buttonIndex).html(urlButtonType(firstIndex, secondIndex, buttonIndex));
			}
			e.preventDefault();
		});
		
		function addNewRow(firstIndex, secondIndex){
			var html = '<tr id="row_'+ firstIndex +'">' +
							'<td>' +
								addNewRequest(firstIndex, secondIndex) +
							'</td>'+
							'<td>'+
								addNewResponse(firstIndex, secondIndex)+
							'</td>'+
							'<td><button class="button_remove_row" first_index="'+ firstIndex +'"> delete </button></td>'+
						'</tr>';
						
			return html;
		}
		
		function addNewRequest(firstIndex, secondIndex){
			var request = 		'<div id="request_container_'+ firstIndex +'_'+ secondIndex +'">' +
									'<input type = "text" name="item[' + firstIndex + '][requests]['+ secondIndex +']" />'+
									'<button class="add_new_request" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> + </button>'+
								'</div>';
			return request;
		}
		
		function addNewResponse(firstIndex, secondIndex){
			var response = '<div id="response_container_'+ firstIndex +'_'+ secondIndex +'" class="response_container">'+
									'Type: '+ payloadType(firstIndex, secondIndex) +'<br/>'+
									'Payload: <div id = "container_payload_'+ firstIndex +'_'+ secondIndex +'"></div>'+
									'<button class="add_new_response" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> + </button>'+									
								'</div>';
			return response;
		}
		
		function addNewButton(firstIndex, secondIndex, buttonIndex){
			var payload = 		'<div class="item_button_template_payload_container">'+
									'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][button]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">'+
										'<option value="">Select button type</option>'+
										'<option value="web_url"> URL</option>'+
									'</select> </br>'+
									'Button payload : <br>'+
									'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>'+
								'</div>';
			
			return payload;
		}
		
		function payloadType(firstIndex, secondIndex){
			var payload = 	'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][type]" class="response_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'">'+
								'<option value="">Select Type response</option>'+
								'<option value="text"> Text</option>'+
								'<option value="button_template"> Button Template</option>'+
								'<option value="generic_template"> Generic Template</option>'+
							'</select>';
			return payload;
		}
		
		function textTypePayload(firstIndex, secondIndex){
			var payload = 	'<div class="text_payload_container">'+
								'Text: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload]" />'+
							'</div>';
			return payload;
		}
		
		function buttonTemplateTypePayload(firstIndex, secondIndex, buttonIndex){
			var payload = 	'<div class="button_template_payload_container">'+
								'Text: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][text]" /><br>'+
								'<div class="item_button_template_payload_container">'+
									'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">'+
										'<option value="">Select button type</option>'+
										'<option value="web_url"> URL</option>'+
									'</select> </br>'+
									'Button payload : <br>'+
									'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>'+
								'</div>'+
							'</div>';
							
			return payload;
		}
		
		function genericTemplateTypePayload(firstIndex, secondIndex, buttonIndex){
			var payload = 	'<div class="generic_template_payload_container">'+
								'Title: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][title]" /><br>'+
								'Subtitle: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][subtitle]" /><br>'+
								'Image URL: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][image_url]" /><br>'+
								'<div class="item_generic_template_payload_container">'+
									'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">'+
										'<option value="">Select button type</option>'+
										'<option value="web_url"> URL</option>'+
									'</select> </br>'+
									'Button payload : <br>'+
									'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>'+
								'</div>'+
							'</div>';
							
			return payload;
		}
		
		function urlButtonType(firstIndex, secondIndex, buttonIndex){
			var payload = 
							'URL: <input type="text" name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][url]"></br>'+
							'Title: <input type="text" name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][title]"></br>'+
							'<button class="add_new_button" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'"> + </button>';
			return payload;
		}
	</script>
</html>