<html>
	<head>
		<title>Configure Application</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script>
			var INDEX_ROW_CONFIGURATION = <%=configuration.length;%>;
			var server = 'http://localhost:1107/';
			var TMP_FIELD = [];
			var TMP_OBJECT = [];
		</script>
		<style>
			.response_container{
				margin:5px;
				border:2px solid black;
				background:#03a9f4;
				padding: 5px;
			}
			
			.button_template_payload_container, .generic_template_payload_container, .text_payload_container{
				margin:5px;
				border:2px solid black;
				background:#009688;
				padding: 5px;
			}
			
			.item_button_template_payload_container, .item_generic_template_payload_container{
				margin:5px;
				border:2px solid black;
				background:#4caf50;
				padding: 5px;
			}
			
			.select_fields{
				height:150px;
			}
		</style>
	</head>
	<body>
		<% if(error_message != ""){ %>
			<h3><%= error_message %></h3>
		<% } %>
		<form method="post" action="/response_configuration">
			<div>
				<table border='1' style='border-collapse:collapse;padding:5px'>
					<tr>
						<th>Request</th>
						<th>Response</th>
						<th>Remove</th>
					</tr>
					<% 
					if(configuration.length > 0){
					%>
					<% configuration.forEach(function(item, indexConfiguration){ %>
					<tr id="row_<%=indexConfiguration%>">
						<td>
							<%
							var tmpIndexRequest = 0;
							item.requests.forEach(function(request, indexRequest){ 
							%>
								<div id="request_container_<%=indexConfiguration%>_<%=indexRequest%>">
									<input type = "text" name="<%= "item[" + indexConfiguration + "][requests][" + indexRequest + "]" %>" value="<%= request %>"/><button class="remove_request" first_index="<%=indexConfiguration%>" second_index="<%=indexRequest%>"> - </button>
								</div>
							<%
								tmpIndexRequest = indexRequest;
							}); 
							%>
							<div id="request_container_<%=indexConfiguration%>_<%=(tmpIndexRequest+1)%>">
								<input type = "text" name="<%= "item[" + indexConfiguration + "][requests][" + (tmpIndexRequest+1) + "]" %>" />
								<button class="add_new_request" first_index="<%=indexConfiguration%>" second_index="<%=(tmpIndexRequest+1)%>"> + </button>
							</div>
						</td>
						<td>
							<% 
							var tmpIndexResponse = 0;
							item.responses.forEach(function(response, indexResponse){ 
							%>
							<div id="response_container_<%=indexConfiguration%>_<%=indexResponse%>" class="response_container">
								Type:<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][type]" class="response_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>">
										<option value="<%=response.type%>"><%= response.type %></option>
										<option value="text"> Text</option>
										<option value="button_template"> Button Template</option>
										<option value="generic_template"> Generic Template</option>
										<option value="salesforce_query"> Query to salesforce</option>
									</select><br/>
								Payload:
								<div id = "container_payload_<%=indexConfiguration%>_<%=indexResponse%>">
								
									<% if(response.type == "text"){ %>
									
										<div class="text_payload_container">
											*Text: <input type = "text" name="<%= "item[" + indexConfiguration + "][responses][" + indexResponse + "][payload]" %>" value="<%= response.payload %>"/>
										</div>
										
									<% }else if(response.type == "button_template"){ %>
									
										<div class="button_template_payload_container">
											*Text: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][text]" value="<%= response.payload.text %>"/><br>
											*Button:<br/>
											<%
											var tmpButtonTemplateIndex = 0;
											response.payload.buttons.forEach(function(button, buttonIndex){ 
											%>
											
											<div class="item_button_template_payload_container">
												<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=buttonIndex%>">
													<option value="<%=button.type%>"><%=button.type%></option>
													<option value="web_url"> URL</option>
												</select> </br>
												Button payload : <br>
												<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=buttonIndex%>">
													<% if(button.type == "web_url"){ %>
													*URL: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][url]" value="<%=button.url%>"></br>
													*Title: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][title]" value="<%=button.title%>"></br>
													<button class="remove_button" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index=" <%=buttonIndex%>"> - </button>
													<% } %>
												</div>
											</div>
											
											<% 
											tmpButtonTemplateIndex = buttonIndex + 1;
											})
											%>
											
											<div class="item_button_template_payload_container">
												<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=tmpButtonTemplateIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=tmpButtonTemplateIndex%>">
													<option value=""> Select button type</option>
													<option value="web_url"> URL</option>
												</select> </br>
												Button payload : <br>
												<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=tmpButtonTemplateIndex%>">
												</div>
											</div>
											
										</div>
										
									<% }else if(response.type == "generic_template"){ %>
									
										<div class="generic_template_payload_container">
											*Title: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][title]" value="<%= response.payload.title %>"/><br>
											
											**Subtitle: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][subtitle]" value="<%= response.payload.subtitle %>"/><br>
											
											**Image URL: <input type = "text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][image_url]" value="<%= response.payload.image_url %>"/><br>
											
											**Button:<br/>
											<%
											var tmpButtonGenericTemplateIndex = 0;
											response.payload.buttons.forEach(function(button, buttonIndex){ 
											%>
											
											<div class="item_generic_template_payload_container">
												<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=buttonIndex%>">
													<option value="<%=button.type%>"><%=button.type%></option>
													<option value="web_url"> URL</option>
												</select> </br>
												Button payload : <br>
												<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=buttonIndex%>">
													<% if(button.type == "web_url"){ %>
													URL: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][url]" value="<%=button.url%>"></br>
													Title: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][title]" value="<%=button.title%>"></br>
													<button class="remove_button" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index=" <%=buttonIndex%>"> - </button>
													<% } %>
												</div>
											</div>
											
											<%
											tmpButtonGenericTemplateIndex = buttonIndex + 1;
											}) 
											%>
										
											<div class="item_generic_template_payload_container">
												<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=tmpButtonGenericTemplateIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=tmpButtonGenericTemplateIndex%>">
													<option value=""> Select button type</option>
													<option value="web_url"> URL</option>
												</select> </br>
												Button payload : <br>
												<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=tmpButtonGenericTemplateIndex%>">
												</div>
											</div>
										</div>
										
									<% }else if(response.type == "salesforce_query"){ %>
										<div class="generic_template_payload_container">
											Salesforce Object:	<br/>
											<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][query][sobject]" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" class="select_sobject" object="<%= response.payload.query.sobject %>">
												<option class="<%= response.payload.query.sobject %>"><%= response.payload.query.sobject %></option>
												<option class="">Loading...</option>
											</select><br/>
											Fields:<br/>
											<div id="container_field_<%=indexConfiguration%>_<%=indexResponse%>">
												<select multiple name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][query][fields][]" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" object="<%= response.payload.query.sobject %>" class="select_fields" fields="<%= response.payload.query.fields %>">
													<option class="">Loading...</option>
												</select>
											</div>
											Where Clause:<br/>
											<div id="container_where_clause_<%=indexConfiguration%>_<%=indexResponse%>">
											
											<% response.payload.query.where.forEach(function(wf, whereIndex){ %>
												<div id="container_where_clause_<%=indexConfiguration%>_<%=indexResponse%>_whereIndex">;
													<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][query][where][whereIndex][source]" class="where_fields" object="<%= response.payload.query.sobject %>" field="<%= wf.source %>">;
														<option>Loading...</option>
													</select>;
													<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][query][where][whereIndex][operator]">;
														<option value="<%= wf.operator %>"><%= wf.operator %></option>;
														<option value="=">=</option>;
														<option value="!=">!=</option>;
														<option value="<"><</option>;
														<option value="<="><=</option>;
														<option value=">">></option>;
														<option value=">=">>=</option>;
														<option value="LIKE">LIKE</option>;
														<option value="IN">IN</option>;
														<option value="NOT IN">NOT IN</option>;
													</select>;
													<input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][query][where][whereIndex][destination]" value="<%= wf.destination %>">;
													<button class="remove_where_clause" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" where_index="whereIndex" object="<%= response.payload.query.sobject %>"> - </button>;
												</div>;
											<% }); %>
											
											</div>
											Response message template:<br/>
											<div id="query_message_template_<%=indexConfiguration%>_<%=indexResponse%>">
											
												<div class="generic_template_payload_container">
													*Title:<br/>
													<textarea rows="2" cols="30" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][title]"><%= response.payload.title %></textarea>
													
													<select id="insert_title_<%=indexConfiguration%>_<%=indexResponse%>" class="insert_title_<%= response.payload.query.sobject %>">
														<option value="">Loading...</option>
										
													</select>
													<button class="insert_title" for="insert_title_<%=indexConfiguration%>_<%=indexResponse%>" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>"> Insert </button>
													<br>
										
													**Subtitle:<br/>
													<textarea rows="5" cols="30" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][subtitle]"><%= response.payload.subtitle %></textarea>
													<select id="insert_subtitle_<%=indexConfiguration%>_<%=indexResponse%>" class="insert_subtitle_<%= response.payload.query.sobject %>">
														<option value="">Loading...</option>
										
													</select>
													<button class="insert_subtitle" for="insert_subtitle_<%=indexConfiguration%>_<%=indexResponse%>" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>"> Insert </button>
													<br>
										
													**Image URL:<br/>
													<textarea rows="2" cols="30" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][image_url]"><%= response.payload.image_url %></textarea>
													<select id="insert_image_url_<%=indexConfiguration%>_<%=indexResponse%>" class="insert_image_url_<%= response.payload.query.sobject %>">
														<option value="">Loading...</option>
										
													</select>
													<button class="insert_image_url" for="insert_image_url_<%=indexConfiguration%>_<%=indexResponse%>" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>"> Insert </button>
													<br>
										
													**button:<br/>
													<%
													var tmpButtonSalesforceQueryTemplateIndex = 0;
													response.payload.buttons.forEach(function(button, buttonIndex){ 
													%>
													
													<div class="item_generic_template_payload_container">
														<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=buttonIndex%>">
															<option value="<%=button.type%>"><%=button.type%></option>
															<option value="web_url"> URL</option>
														</select> </br>
														Button payload : <br>
														<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=buttonIndex%>">
															<% if(button.type == "web_url"){ %>
															URL: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][url]" value="<%=button.url%>"></br>
															Title: <input type="text" name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=buttonIndex%>][title]" value="<%=button.title%>"></br>
															<button class="remove_button" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index=" <%=buttonIndex%>"> - </button>
															<% } %>
														</div>
													</div>
													
													<%
													tmpButtonSalesforceQueryTemplateIndex = buttonIndex + 1;
													}) 
													%>
												
													<div class="item_generic_template_payload_container">
														<select name="item[<%=indexConfiguration%>][responses][<%=indexResponse%>][payload][buttons][<%=tmpButtonSalesforceQueryTemplateIndex%>][type]" class="button_type" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>" button_index="<%=tmpButtonSalesforceQueryTemplateIndex%>">
															<option value=""> Select button type</option>
															<option value="web_url"> URL</option>
														</select> </br>
														Button payload : <br>
														<div id="container_button_payload_<%=indexConfiguration%>_<%=indexResponse%>_<%=tmpButtonSalesforceQueryTemplateIndex%>">
														</div>
													</div>
												</div>
											
											</div>
										</div>
									<% } %>
								</div>
								<button class="remove_response" first_index="<%=indexConfiguration%>" second_index="<%=indexResponse%>"> - </button>
							</div>
							<% 
								tmpIndexResponse = indexResponse;
							}); 
							%>
							<div id="response_container_<%=indexConfiguration%>_<%=(tmpIndexResponse+1)%>" class="response_container">
								Type:<select name="item[<%=indexConfiguration%>][responses][<%=(tmpIndexResponse+1)%>][type]" class="response_type" first_index="<%=indexConfiguration%>" second_index="<%=(tmpIndexResponse+1)%>">
										<option value="">Select Type response</option>
										<option value="text"> Text</option>
										<option value="button_template"> Button Template</option>
										<option value="generic_template"> Generic Template</option>
										<option value="salesforce_query"> Query to salesforce</option>
									</select><br/>
								Payload:
								<div id = "container_payload_<%=indexConfiguration%>_<%=(tmpIndexResponse+1)%>"></div>
								<button class="add_new_response" first_index="<%=indexConfiguration%>" second_index="<%=(tmpIndexResponse+1)%>"> + </button>
							</div>
						</td>
						<td>
							<button class="button_remove_row" first_index="<%=indexConfiguration%>"> delete </button>
						</td>
					</tr>
					<% }); %>
					<% } %>
					<tr id = "row_navigation">
						<td></td>
						<td>
							<button id = "button_add_row">New</button>
						</td>
					</tr>
				</table>
			</div>
			<input type="submit" value="Save"/>
		</form>
	</body>
	<script>
		constructSObjectList();
		constructSObjectFieldsList();
		constructWhereFieldsList();
		
		$("#button_add_row").on('click', function(e){
			$("#row_navigation").before(addNewRow(INDEX_ROW_CONFIGURATION, 0));
			INDEX_ROW_CONFIGURATION++;
			e.preventDefault();
		});
		
		$(document).on('click', '.button_remove_row', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			
			$("#row_" + firstIndex).remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_request', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			$("#request_container_"+ firstIndex +"_"+secondIndex).after(addNewRequest(firstIndex, secondIndex+1));
			
			$(this).html('-');
			$(this).attr('class', 'remove_request');
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_request', function(e){
			$(this).parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_response', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			$("#response_container_"+ firstIndex +"_"+secondIndex).after(addNewResponse(firstIndex, secondIndex+1));
			
			$(this).html('-');
			$(this).attr('class', 'remove_response');
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_response', function(e){
			$(this).parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_button', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			var buttonIndex = parseInt($(this).attr('button_index'));
			
			$(this).html('-');
			$(this).attr('class', 'remove_button');
			$(this).parent().parent().after(addNewButton(firstIndex, secondIndex, buttonIndex+1));
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_button', function(e){
			$(this).parent().parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.add_new_where_clause', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			var whereIndex = parseInt($(this).attr('where_index'));
			var object = $(this).attr('object');
			
			$(this).html('-');
			$(this).attr('class', 'remove_where_clause');
			$(this).parent().after(constructWhereClause(object, firstIndex, secondIndex, whereIndex+1));
			
			e.preventDefault();
		});
		
		$(document).on('click', '.remove_where_clause', function(e){
			$(this).parent().remove();
			
			e.preventDefault();
		});
		
		$(document).on('click', '.insert_title', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			var insertId = $(this).attr('for');
			var textToInsert = '{'+$('#'+insertId).val()+'}';
			
			var obj = $('textarea[name="item['+firstIndex+'][responses]['+secondIndex+'][payload][title]"]');
			var value = obj.val();
			
			var cursorPos = obj.prop('selectionStart');
			var textBefore = value.substring(0,  cursorPos);
			var textAfter = value.substring(cursorPos, value.length);
			
			obj.val(textBefore+''+textToInsert+''+textAfter);
			
			e.preventDefault();
		});
		
		$(document).on('click', '.insert_subtitle', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			var insertId = $(this).attr('for');
			var textToInsert = '{'+$('#'+insertId).val()+'}';
			
			var obj = $('textarea[name="item['+firstIndex+'][responses]['+secondIndex+'][payload][subtitle]"]');
			var value = obj.val();
			
			var cursorPos = obj.prop('selectionStart');
			var textBefore = value.substring(0,  cursorPos);
			var textAfter = value.substring(cursorPos, value.length);
			
			obj.val(textBefore+''+textToInsert+''+textAfter);
			
			e.preventDefault();
		});
		
		$(document).on('click', '.insert_image_url', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			var insertId = $(this).attr('for');
			var textToInsert = '{'+$('#'+insertId).val()+'}';
			
			var obj = $('textarea[name="item['+firstIndex+'][responses]['+secondIndex+'][payload][image_url]"]');
			var value = obj.val();
			
			var cursorPos = obj.prop('selectionStart');
			var textBefore = value.substring(0,  cursorPos);
			var textAfter = value.substring(cursorPos, value.length);
			
			obj.val(textBefore+''+textToInsert+''+textAfter);
			
			e.preventDefault();
		});
		
		$(document).on('click', '.option_field', function(e){
			var firstIndex = parseInt($(this).parent().attr('first_index'));
			var secondIndex = parseInt($(this).parent().attr('second_index'));
			var options = $(this).parent().val();
			var strOptions = '<option value="">Choose field</option>';
			
			options.forEach(function(f){
				strOptions += '<option value="'+ f +'">'+ f +'</option>';
			});
			
			$('#insert_title_'+ firstIndex +'_'+secondIndex).html(strOptions);
			$('#insert_subtitle_'+ firstIndex +'_'+secondIndex).html(strOptions);
			$('#insert_image_url_'+ firstIndex +'_'+secondIndex).html(strOptions);
			
			e.preventDefault();
		});
		
		$(document).on('change', '.response_type', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			if($(this).val() == 'text'){
				$("#container_payload_"+ firstIndex +"_"+ secondIndex).html(textTypePayload(firstIndex, secondIndex));
			}else if($(this).val() == 'button_template'){
				$("#container_payload_"+ firstIndex +"_"+ secondIndex).html(buttonTemplateTypePayload(firstIndex, secondIndex, 0));
			}else if($(this).val() == 'generic_template'){
				$("#container_payload_"+ firstIndex +"_"+ secondIndex).html(genericTemplateTypePayload(firstIndex, secondIndex, 0));
			}else if($(this).val() == 'salesforce_query'){
				salesforceQueryPayload($("#container_payload_"+ firstIndex +"_"+ secondIndex), firstIndex, secondIndex);
			}
			e.preventDefault();
		});
		
		$(document).on('change', '.button_type', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			var buttonIndex = parseInt($(this).attr('button_index'));
			
			if($(this).val() == 'web_url'){
				$("#container_button_payload_"+ firstIndex +"_"+ secondIndex +"_"+ buttonIndex).html(urlButtonType(firstIndex, secondIndex, buttonIndex));
			}
			e.preventDefault();
		});
		
		$(document).on('change', '.select_sobject', function(e){
			var firstIndex = parseInt($(this).attr('first_index'));
			var secondIndex = parseInt($(this).attr('second_index'));
			
			$('#container_where_clause_'+ firstIndex +'_'+ secondIndex).html('');
			$('#query_message_template_'+ firstIndex +'_'+ secondIndex).html('');
			constructField($(this).val(), firstIndex, secondIndex);
			
			e.preventDefault();
		});
		
		function addNewRow(firstIndex, secondIndex){
			var html = '<tr id="row_'+ firstIndex +'">' +
							'<td>' +
								addNewRequest(firstIndex, secondIndex) +
							'</td>'+
							'<td>'+
								addNewResponse(firstIndex, secondIndex)+
							'</td>'+
							'<td><button class="button_remove_row" first_index="'+ firstIndex +'"> delete </button></td>'+
						'</tr>';
						
			return html;
		}
		
		function addNewRequest(firstIndex, secondIndex){
			var request = 		'<div id="request_container_'+ firstIndex +'_'+ secondIndex +'">' +
									'*<input type = "text" name="item[' + firstIndex + '][requests]['+ secondIndex +']" />'+
									'<button class="add_new_request" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> + </button>'+
								'</div>';
			return request;
		}
		
		function addNewResponse(firstIndex, secondIndex){
			var response = '<div id="response_container_'+ firstIndex +'_'+ secondIndex +'" class="response_container">'+
									'Type: '+ payloadType(firstIndex, secondIndex) +'<br/>'+
									'Payload: <div id = "container_payload_'+ firstIndex +'_'+ secondIndex +'"></div>'+
									'<button class="add_new_response" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> + </button>'+									
								'</div>';
			return response;
		}
		
		function addNewButton(firstIndex, secondIndex, buttonIndex){
			var payload = 		'<div class="item_button_template_payload_container">'+
									'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">'+
										'<option value="">Select button type</option>'+
										'<option value="web_url"> URL</option>'+
									'</select> </br>'+
									'Button payload : <br>'+
									'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>'+
								'</div>';
			
			return payload;
		}
		
		function payloadType(firstIndex, secondIndex){
			var payload = 	'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][type]" class="response_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'">'+
								'<option value="">Select Type response</option>'+
								'<option value="text"> Text</option>'+
								'<option value="button_template"> Button Template</option>'+
								'<option value="generic_template"> Generic Template</option>'+
								'<option value="salesforce_query"> Query to salesforce</option>'+
							'</select>';
			return payload;
		}
		
		function textTypePayload(firstIndex, secondIndex){
			var payload = 	'<div class="text_payload_container">'+
								'*Text: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload]" />'+
							'</div>';
			return payload;
		}
		
		function buttonTemplateTypePayload(firstIndex, secondIndex, buttonIndex){
			var payload = 	'<div class="button_template_payload_container">'+
								'*Text: <input type = "text" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][text]" /><br>'+
								'*button:<br/>'+
								'<div class="item_button_template_payload_container">'+
									'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">'+
										'<option value="">Select button type</option>'+
										'<option value="web_url"> URL</option>'+
									'</select> </br>'+
									'Button payload : <br>'+
									'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>'+
								'</div>'+
							'</div>';
							
			return payload;
		}
		
		function genericTemplateTypePayload(firstIndex, secondIndex, buttonIndex){
			var payload = 	'<div class="generic_template_payload_container">'+
								'*Title: <textarea rows="2" cols="30" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][title]" /><br>'+
								'**Subtitle: <textarea rows="5" cols="30" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][subtitle]" /><br>'+
								'**Image URL: <textarea rows="2" cols="30" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][image_url]" /><br>'+
								'**button:<br/>'+
								'<div class="item_generic_template_payload_container">'+
									'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">'+
										'<option value="">Select button type</option>'+
										'<option value="web_url"> URL</option>'+
									'</select> </br>'+
									'Button payload : <br>'+
									'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>'+
								'</div>'+
							'</div>';
							
			return payload;
		}
		
		function urlButtonType(firstIndex, secondIndex, buttonIndex){
			var payload = 
							'*URL: <input type="text" name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][url]"></br>'+
							'*Title: <input type="text" name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][title]"></br>'+
							'<button class="add_new_button" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'"> + </button>';
			return payload;
		}
		
		function salesforceQueryPayload(dom, firstIndex, secondIndex){
			var payload = 	'<div class="generic_template_payload_container">'+
								'Salesforce Object:	<br/>'+
								'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][sobject]" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" class="select_sobject">'+
									'<option class="sobject_loading">Loading...</option>'+
								'</select><br/>'+
								'Fields:<br/>'+
								'<div id="container_field_'+ firstIndex +'_'+ secondIndex +'"></div>'+
								'Where Clause:<br/>'+
								'<div id="container_where_clause_'+ firstIndex +'_'+ secondIndex +'"></div>'+
								'Response message template:<br/>'+
								'<div id="query_message_template_'+ firstIndex +'_'+ secondIndex +'"></div>'+
							'</div>';
			dom.html(payload);
			getSObjectList(function(sobjects){
				if(sobjects){
					$('select[name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][sobject]"]').children('.sobject_loading').remove();
					$('select[name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][sobject]"]')
							.append($('<option></option>').attr('value', '').text('Choose Object'));
					sobjects.forEach(function(object){
						$('select[name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][sobject]"]')
							.append($('<option></option>').attr('value', object.name).text(object.name));
					});
				}
			});
		}
		
		function constructField(object, firstIndex, secondIndex){
			$('#container_field_'+ firstIndex +'_'+ secondIndex).html('Loading...');
			getSObjectFields(object, function(fields){
				if(fields){
					var dom = '<select multiple name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][fields][]" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" object="'+ object +'" class="select_fields">';
					fields.forEach(function(f){
						dom += '<option class="option_field" value="'+ f.name +'">'+ f.name +'</option>';
					});
					dom += '</select><br/>';
					
					$('#container_field_'+ firstIndex +'_'+ secondIndex).html(dom);
					
					$('#container_where_clause_'+ firstIndex +'_'+ secondIndex).html(constructWhereClause(object, firstIndex, secondIndex, 0));
					
					$('#query_message_template_'+ firstIndex +'_'+ secondIndex).html(constructQueryMessageTemplate(object, firstIndex, secondIndex, 0));
				}else{
					$('#container_field_'+ firstIndex +'_'+ secondIndex).html('No field retrieved.');
				}
			});
		}
		
		function constructWhereClause(object, firstIndex, secondIndex, whereIndex){
			var payload = 	'<div id="container_where_clause_'+ firstIndex +'_'+ secondIndex +'_'+ whereIndex +'">';
			payload += 		'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][where]['+ whereIndex +'][source]">';
			payload +=			'<option value="">Choose field</option>';
			TMP_FIELD[object].forEach(function(f){
				payload += 		'<option value="'+ f.name +'">'+ f.name +'</option>';
			});
			payload += 		'</select>';
			payload +=		'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][where]['+ whereIndex +'][operator]">';
			payload +=			'<option value="">Choose operator</option>';
			payload +=			'<option value="=">=</option>';
			payload +=			'<option value="!=">!=</option>';
			payload +=			'<option value="<"><</option>';
			payload +=			'<option value="<="><=</option>';
			payload +=			'<option value=">">></option>';
			payload +=			'<option value=">=">>=</option>';
			payload +=			'<option value="LIKE">like</option>';
			payload +=			'<option value="IN">in</option>';
			payload +=			'<option value="NOT IN">not in</option>';
			payload += 		'</select>';
			payload +=		'<input type="text" name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][query][where]['+ whereIndex +'][destination]">';
			payload +=		'<button class="add_new_where_clause" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" where_index="'+ whereIndex +'" object="'+ object +'"> + </button>';
			payload += 		'</div>';
			
			return payload;
		}
		
		function constructQueryMessageTemplate(object, firstIndex, secondIndex, buttonIndex){
			var payload = 	'<div class="generic_template_payload_container">';
			payload +=			'*Title:<br/>';
			payload +=			'<textarea rows="2" cols="30" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][title]" />';
			payload += 			'<select id="insert_title_'+ firstIndex +'_'+ secondIndex +'">';
			payload +=				'<option value="">Choose field</option>';
			TMP_FIELD[object].forEach(function(f){
				payload += 			'<option value="'+ f.name +'">'+ f.name +'</option>';
			});
			payload += 			'</select>';
			payload +=			'<button class="insert_title" for="insert_title_'+ firstIndex +'_'+ secondIndex +'" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> Insert </button>';
			payload +=			'<br>';
			
			payload += 			'**Subtitle:<br/>';
			payload +=			'<textarea rows="5" cols="30" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][subtitle]" />';
			payload += 			'<select id="insert_subtitle_'+ firstIndex +'_'+ secondIndex +'">';
			payload +=				'<option value="">Choose field</option>';
			TMP_FIELD[object].forEach(function(f){
				payload += 			'<option value="'+ f.name +'">'+ f.name +'</option>';
			});
			payload += 			'</select>';
			payload +=			'<button class="insert_subtitle" for="insert_subtitle_'+ firstIndex +'_'+ secondIndex +'" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> Insert </button>';
			payload +=			'<br>';
			
			payload +=			'**Image URL:<br/>';
			payload +=			'<textarea rows="2" cols="30" name="item[' + firstIndex + '][responses][' + secondIndex + '][payload][image_url]" />';
			payload += 			'<select id="insert_image_url_'+ firstIndex +'_'+ secondIndex +'">';
			payload +=				'<option value="">Choose field</option>';
			TMP_FIELD[object].forEach(function(f){
				payload += 			'<option value="'+ f.name +'">'+ f.name +'</option>';
			});
			payload += 			'</select>';
			payload +=			'<button class="insert_image_url" for="insert_image_url_'+ firstIndex +'_'+ secondIndex +'" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'"> Insert </button>';
			payload +=			'<br>';
			
			payload +=			'**button:<br/>';
			payload +=			'<div class="item_generic_template_payload_container">';
			payload +=				'<select name="item[' + firstIndex + '][responses]['+ secondIndex +'][payload][buttons]['+ buttonIndex +'][type]" class="button_type" first_index="'+ firstIndex +'" second_index="'+ secondIndex +'" button_index="'+ buttonIndex +'">';
			payload +=					'<option value="">Select button type</option>';
			payload +=					'<option value="web_url"> URL</option>';
			payload +=				'</select> </br>';
			payload +=				'Button payload : <br>';
			payload +=				'<div id="container_button_payload_'+firstIndex+'_'+secondIndex+'_'+buttonIndex+'"></div>';
			payload +=			'</div>';
			payload +=		'</div>';
							
			return payload;
		}
		
		function getSObjectList(callback){
			if(TMP_OBJECT.length != 0){
				callback(TMP_OBJECT);
			}else{
				$.get(server + 's_objects', function(data, status){
					if(status == 'success'){
						TMP_OBJECT = data;
						callback(data);
					}else{
						callback(false);
					}
				});
			}
		}
		
		function getSObjectFields(object, callback){
			if(TMP_FIELD[object]){
				callback(TMP_FIELD[object]);
			}else{
				$.get(server + 's_object_field?o='+object, function(data, status){
					if(status == 'success'){
						TMP_FIELD[object] = data;
						callback(data);
					}else{
						callback(false);
					}
				});
			}
		}
		
		function constructSObjectList(){
			getSObjectList(function(sObjects){
				if(sObjects){
					var options = '';
					
					sObjects.forEach(function(o){
						options += '<option value="'+ o.name +'">'+ o.name +'</option>';
					});
					
					$('.select_sobject').each(function(index){
						if($(this).attr('object')){
							var tmpOption = '<option value="'+$(this).attr('object')+'">'+$(this).attr('object')+'</option>' + options;
							$(this).html(tmpOption);
						}
					});
				}
			});
		}
		
		function constructSObjectFieldsList(){
			$('.select_fields').each(function(index){
				var selectedFields = $(this).attr('fields').split(',');
				var dom = $(this);
				
				getSObjectFields(dom.attr('object'), function(fields){
					dom.html('');
					var options = '<option value="">Choose field</option>';
					
					fields.forEach(function(f){
						if(selectedFields.indexOf(f.name) > -1){
							dom.append($('<option class="option_field"></option>').attr('value', f.name).text(f.name).prop('selected', true));
							options += '<option value="'+ f.name +'">'+ f.name +'</option>';
						}else{
							dom.append($('<option class="option_field"></option>').attr('value', f.name).text(f.name));
						}
					});
					
					//insert title message template
					$('.insert_title_' + dom.attr('object')).html(options);
					//insert subtitle message template
					$('.insert_subtitle_' + dom.attr('object')).html(options);
					//insert image url message template
					$('.insert_image_url_' + dom.attr('object')).html(options);
				});
			});
		}
		
		function constructWhereFieldsList(){
			$('.where_fields').each(function(index){
				var selectedField = $(this).attr('field');
				var dom = $(this);
				
				getSObjectFields(dom.attr('object'), function(fields){
					dom.html('');
					
					fields.forEach(function(f){
						if(selectedField == f.name){
							dom.append($('<option></option>').attr('value', f.name).text(f.name).prop('selected', true));
						}else{
							dom.append($('<option></option>').attr('value', f.name).text(f.name));
						}
					});
				});
			});
		}
	</script>
</html>